*{
    margin: 0;
    padding: 0;
}
.navbar-brand{
    font-size: 50px;
    font-family: bold;
}
.navbar-brand span{
    color: yellow;
}

.nav-item a{
    left: 40px;
    margin-left: 20px;
    font-size: 13px;
    
}
.carousel-caption{
    top: 300px;
}

.carousel-control-prev ,.carousel-control-next{
    top: 350px;
}
.li .nav-link{
    font-size: 35px;
    font-weight: 100;
}
.carousel-item img{
    filter: brightness(50%);
}
.row{
    text-align: center;
}
.page{
    margin-top: 7%;
    display: flex;
    justify-content: space-between; 
}
.page div{
    flex-direction: column;
}
.bocs{
    flex-basis: 31%;
    background: #333232;
    border-radius: 5px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.bocs i{
    margin-left: 200px;
    text-align: center;
}
.bocs h3{
    color: aliceblue;
    padding: 20px;
    text-align: center;
}
.bocs p{
    color:white ;
}
button{
    text-align: center;
    height: 50px;
    width: 100px;
    margin-right: 30px;
    border-radius: 8px;
    border: 1px solide black;
    background-color: yellow;
}
.containers h3{
    font-family: bold;
    text-align: center;
}
.containers p{
    text-align: center;
    margin-bottom: 40px;
}
.card-radius img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    justify-content: space-around;
    padding: 10px;
    
}
.card-shadow:hover{
    box-shadow: 6px 6px 9px rgb(179, 165, 165);
}
.card-radius{
    box-shadow: 6px 6px 9px rgb(179, 165, 165);
}
.card-radius span{
    padding: 10px;
}

.card-radius p{
    text-align: justify;
}
